/UI Mockup/

# macOS
.DS_Store

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env.local
Frontend/.env.*.local

# .NET
Backend/**/bin/
Backend/**/obj/
Backend/appsettings.json
Backend/appsettings.Development.json

# IDE
.vs/
.vscode/*
!.vscode/settings.json
*.png
